pocesb/src/main/resources/META-INF/wsdl/say_hi.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
	xmlns:tns="http://pocesb.allocatesoftware.com" 
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	targetNamespace="http://pocesb.allocatesoftware.com">
  <wsdl:types>
    <xsd:schema targetNamespace="http://pocesb.allocatesoftware.com">
      <xsd:element name="inputSayHi">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="in" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="outputSayHi">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="out" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="Person">
      	<xsd:attribute name="Name" type="xsd:string"></xsd:attribute>
      	<xsd:attribute name="Surname" type="xsd:string"></xsd:attribute>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  
  <wsdl:message name="inputSayHi">
    <wsdl:part name="in" type="tns:Person" />
  </wsdl:message>
  <wsdl:message name="outputSayHi">
    <wsdl:part name="out" type="xsd:boolean" />
  </wsdl:message>
  
  <wsdl:portType name="SayHiEndpoint">
    <wsdl:operation name="SayHi">
      <wsdl:input message="tns:inputSayHi"/>
      <wsdl:output message="tns:outputSayHi"/>
    </wsdl:operation>
  </wsdl:portType>
  
  <wsdl:binding name="SayHiBinding" type="tns:SayHiEndpoint">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="SayHi">
      <soap:operation soapAction="http://pocesb.allocatesoftware.com/SayHi"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  
  <wsdl:service name="SayHiEndpointService">
    <wsdl:port binding="tns:SayHiBinding" name="SayHiService">
      <soap:address location="http://localhost:9001/helloService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
