FusePoCPublish/FusePoCPublish/Service References/EsbProxy/helloService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://pocesb.allocatesoftware.com" targetNamespace="http://pocesb.allocatesoftware.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://pocesb.allocatesoftware.com">
      <xsd:element name="inputSayHi">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="in" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="outputSayHi">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="out" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="outputSayHi">
    <wsdl:part name="out" type="xsd:boolean" />
  </wsdl:message>
  <wsdl:message name="inputSayHi">
    <wsdl:part name="in" type="xsd:string" />
  </wsdl:message>
  <wsdl:portType name="SayHiEndpoint">
    <wsdl:operation name="SayHi">
      <wsdl:input message="tns:inputSayHi" />
      <wsdl:output message="tns:outputSayHi" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SayHiBinding" type="tns:SayHiEndpoint">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SayHi">
      <soap:operation soapAction="http://pocesb.allocatesoftware.com/SayHi" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SayHiEndpointService">
    <wsdl:port name="SayHiService" binding="tns:SayHiBinding">
      <soap:address location="http://localhost:8181/cxf/pocesb/webservices/helloService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>